<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/static/styles/home.css">
  <script src="/static/scripts/redirecting.js"></script>
</head>
<body>

<div class="container">
  <div class="card">
    <div class="header">
      <h3>Menu<i class="fas iconM"></i></h3>
    </div>
    <div class="body">
      <ul>
        <li id="prime_numbers" class="hyperlink"><i class="fas icon"></i>Liczby pierwsze dla &lt;1999900000, 2000099990&gt;</li>
        <li id="fermat_test" class="hyperlink"><i class="fas icon"></i>Test Fermata</li>
        <li id="factorization" class="hyperlink"><i class="fas icon"></i>Rozkład na czynniki pierwsze</li>
        <li id="euler_function" class="hyperlink"><i class="fas icon"></i>Funkcja Eulera</li>
        <li id="euklides_extended_alghoritm" class="hyperlink"><i class="fas icon"></i>Rozszerzony Algorytm Euklidesa</li>
        <li id="rsa_keys_pair_generate" class="hyperlink"><i class="fas icon"></i>Generowanie pary kluczy RSA</li>
        <li id="rsa_encrypt" class="hyperlink"><i class="fas icon"></i>Szyfrowanie RSA</li>
        <li id="rsa_decrypt" class="hyperlink"><i class="fas icon"></i>Deszyfrowanie RSA</li>
<!--        <li class="hyperlink"><i class="fab icon"></i> Forms-->
<!--          <ul>-->
<!--            <li class="hyperlink"><i class="fas icon"></i> First form</li>-->
<!--            <li class="hyperlink"><i class="fas icon"></i> Second form</li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</div>

</body>
</html>